# ===========================================================
# Dependências Python do projeto
# Usado pelo Dockerfile (Opção B)
# ===========================================================

requests
pandas
psycopg2-binary
